[Unit]
Description=Gauntlet Context Integration Service
After=gauntlet-metrics.service
Requires=gauntlet-metrics.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=HOME=/home/jon
Environment=USER=jon
Environment=LOGNAME=jon
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=DISPLAY=:0
ExecStartPre=/bin/sh -c 'mkdir -p ${HOME}/.gauntlet/{contexts,metrics,cache,state}'
ExecStart=/home/jon/workspace/system-ops/scripts/gauntlet_context.sh
Nice=-5

[Install]
WantedBy=default.target 