[Unit]
Description=Gauntlet Dashboard Service
After=gauntlet-metrics.service
Requires=gauntlet-metrics.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=HOME=/home/jon
Environment=USER=jon
Environment=LOGNAME=jon
Environment=TERM=xterm-256color
Environment=DISPLAY=:0
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=${HOME}/workspace/system-ops/scripts/gauntlet_dashboard.sh

[Install]
WantedBy=default.target 